---
import MainLayout from "../layouts/MainLayout.astro"
---



<MainLayout title="Terms and Conditions">

    <section class="section-claims-terms py-40">
        <div class="container wrapper">
            <h2 class="heading-secondary py-8">Terms and Conditions</h2>
            <p>Broker Appointment Upon Claim Resolution</p>
        </div>
    </section>

</MainLayout>