---
import MainLayout from "../layouts/MainLayout.astro"
import Preloader from "../components/Preloader.astro"
---




<MainLayout title="Contact iRisk Management">

<!-- Preloader -->
<!-- <Preloader></Preloader> -->
<!-- end of preloader -->




<section class="section-contact pb-40 pt-60">
    <div class="container wrapper">
                     

        <div class="grid grid-cols-1 md:grid-cols-3 gap-16">
            <!-- This has the form -->
            <div class="col-span-2">
                <h2 class="heading-tertiary mb-8">Make a claim</h2>
                
                <!-- Contact forms -->
                <form class="md:pr-16 mx-auto" name="Claim" method="POST" data-netlify="true">
                     <!-- Full Name -->
                     <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                            <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                            <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
                        </div>
                    </div>

                    <!-- Email Address -->
                    <div class="relative z-0 w-full mb-8 group">
                        <input type="email" name="Email Address" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
                    </div>

                    <!-- Contact -->
                    <div class="relative z-0 w-full mb-8 group">
                        <input type="tel" name="floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone number (123-456-7890)</label>
                    </div>

                      <!-- date of loss -->
                    <div class="relative z-0 w-full mb-8 group">
                        <input type="date" name="Date of loss" id="date_of_loss" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required />
                        <label for="date_of_loss" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Date of Loss</label>
                    </div>

                     <!-- Policy name-->
                     <div class="relative z-0 w-full mb-8 group">
                        <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                            <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name on Insurance Policy</label>  </div>
                    
                       <!-- Policy number-->
                     <div class="relative z-0 w-full mb-8 group">
                        <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                            <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Insurance Policy Number</label>  </div>
                     

                    <!-- Select your Insurance Company -->
                    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select your Insurance Company</label>
                    <select name="Insurance Company" id="Insurance-company" class="mb-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option>Select Insurance Company</option>
                        <option value="enterprise">Enterprise Insurance</option>
                        <option value="sic">SIC Insurance</option>
                        <option value="hollard">Hollard Insurance Ghana</option>
                        <option value="glico">Glico General Insurance</option>
                        <option value="star">Star Assurance</option>
                        <option value="vanguard">Vanguard Assurance</option>
                        <option value="ghanaunion">Ghana Union Assurance</option>
                        <option value="activa">Activa International Insurance</option>
                        <option value="phoenix">Phoenix Insurance</option>
                        <option value="sanlam">Sanlam Insurance Ghana</option>
                        <option value="prime">Prime Insurance</option>
                        <option value="quality">Quality Insurance</option>
                        <option value="sunu">Sunu Assurance</option>
                        <option value="provident">Provident Insurance</option>
                        <option value="allianz">Allianz Insurance</option>
                        <option value="donewell">Donewell Insurance</option>
                        <option value="serene">Serene Insurance</option>
                        <option value="priority">Priority Insurance</option>
                        <option value="imperial">Imperial General Assurance</option>
                        <option value="millennium">Millennium Insurance</option>
                        <option value="coronation">Coronation Insurance Ghana</option>
                        <option value="unique">Unique Insurance</option>
                        <option value="loyalty">Loyalty Insurance</option>
                        <option value="nsia">NSIA Ghana Insurance</option>
                        <option value="bedrock">Bedrock Insurance</option>
                        <option value="best">Best Assurance</option>
                    </select>


                    <!-- Description of Loss -->
                    <div class="relative z-0 w-full mb-8 group">
                        <textarea name="Message" id="contact-message" rows="4" cols="50" class="resize-none block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="contact-message" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description of Loss</label>
                    </div>

                    <!-- Terms and Conditions -->
                    <div class="relative flex items-center mb-8">
                        <input type="checkbox" name="terms_and_conditions" id="terms_and_conditions" class="peer" required />
                        <label for="terms_and_conditions" class="ml-2 text-sm text-gray-700 dark:text-gray-400">I agree to the <span id="claims-modal-toggler" class="text-blue-500 hover:underline cursor-pointer">Terms and Conditions</span> and appoint iRisk as my insurance broker</label>
                    </div>
                    
                    <button type="submit" class="btn btn-blue dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </form>

            </div>  

            <!-- This has the contact detials -->
            <div>
                <h2 class="heading-tertiary mb-8">Contact Details</h2>
                <!-- Contact list -->
                <ul class="contact-list">
                    <li class="contact-item">
                        <a target="_blank" href="tel:0241105423" class="contact-link">
                            <i class="fa-solid fa-phone"></i>
                        </a>
                        <div>
                            <h3>Phone</h3>
                            <a target="_blank" href="tel:+233241105423">+233 241 105 423</a>
                        </div>
                    </li>
                    <li class="contact-item">
                        <a target="_blank" href="mailto:info@iriskmanagement.net" class="contact-link">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <div>
                            <h3>Phone</h3>
                            <a target="_blank" href="mailto:info@iriskmanagement.net">info@iriskmanagement.net</a>
                        </div>
                    </li>
                    <li class="contact-item">
                        <a target="_blank" href="https://www.google.com/maps/dir//Ghana+Post+:+GA-411-5290,+D17+Boundary+Rd,+Accra,+Ghana/@5.642269,-0.2281684,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0xfdf9b732837b0cb:0xdfe75b22a949a4b3!2m2!1d-0.1457664!2d5.6422748?entry=ttu" class="contact-link">
                            <i class="fa-solid fa-map-marker"></i>
                        </a>
                    
                        <a target="_blank" > Locate us</a></li>
                        
                        <div> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.4881655553922!2d-0.14834132501420616!3d5.6422747943389435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9b732837b0cb%3A0xdfe75b22a949a4b3!2siRisk%20Management%20Limited!5e0!3m2!1sen!2sgh!4v1708531626063!5m2!1sen!2sgh" width="400" height="350" style="border:0; border-radius: 10px"; allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe></div>
                        
                    
                </ul>
            </div>
        </div>
    </div>
</section>







<!--====================  Claim Modal  ======================-->
<div id="claims-modal">
    <!-- This is the half-transparent background of the modal -->
    <div class="modal-overlay" id="modal-overlay"></div>

    <div class="container wrapper">
        <div class="modal-container">
            <!-- This is the modal header -->
            <div class="header">
                <h2>Terms of Service</h2>
                <button class="modal-close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <!-- end of modal header -->

            <hr>

            <!-- Modal body  -->
            <div class="body">
                <h2 class="heading-tertiary mb-4">Terms and Conditions: Broker Appointment Upon Claim Resolution</h2>

                <p>This Agreement ("Agreement") is made and entered into as of [Date] by and between [Your Name/Company Name] ("You") and iRisk Management Limited ("iRisk").</p>

                <br>
                <p>WHEREAS, You may be seeking insurance coverage and require assistance with a potential claim.</p>
                <br>
                <p>WHEREAS, iRisk is a licensed insurance broker offering services to assist clients with insurance procurement and claim resolution.</p>
                <br>
                <p>NOW, THEREFORE, in consideration of the foregoing premises and the mutual covenants contained herein, the parties agree as follows:</p>
                <br>

                <ol class="list-decimal ml-8">
                    <li>Appointment of Broker Upon Claim Resolution. By checking the box associated with this Agreement, you appoint iRisk as your insurance broker for all future insurance needs, effective upon the successful resolution of your current insurance claim. 
                    </li>
                    <li>
                        This appointment supersedes any existing broker relationship, regardless of whether you have previously appointed another broker.
                    </li>
                </ol>
                <br>
                <br>
                <h2 class="heading-tertiary">Scope of Services.</h2>
                <p>Upon appointment, iRisk agrees to provide the following services:</p>
                <ol class="list-decimal ml-8 mb-8">
                    <li>Assist with obtaining quotes for future insurance policies.</li>
                    <li>Advise on coverage options and policy selection.</li>
                    <li>Facilitate policy renewal.</li>
                    <li>Assist with any future claims you may have.</li>
                </ol>

                <h2 class="heading-tertiary">Term and Termination.</h2>
                <p class="mb-4">This Agreement shall commence upon the successful resolution of your current insurance claim and shall remain in effect for a period of one (1) year, automatically renewing for subsequent one (1) year terms unless terminated earlier by either party upon written notice provided at least thirty (30) days prior to the end of the then-current term.</p>

                <strong>Your Responsibilities. You agree to:</strong>
                <ol class="list-decimal ml-8 mb-4">
                    <li>Provide iRisk with accurate and complete information regarding your insurance needs.</li>
                    <li>Cooperate with iRisk in obtaining and maintaining insurance coverage.</li>
                    <li>Notify iRisk of any changes to your risk profile or insurance needs.</li>
                </ol>

                <strong>Entire Agreement.</strong>

                <p class="mb-4">This Agreement constitutes the entire agreement between the parties with respect to the subject matter hereof and supersedes all prior or contemporaneous communications, representations, or agreements, whether oral or written.</p>

                <strong>Governing Law.</strong>
                <p class="mb-4">This Agreement shall be governed by and construed in accordance with the laws of [Your Jurisdiction].</p>

                <strong>Severability.</strong>
                <p class="mb-4">If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall remain in full force and effect.</p>

                <p class="uppercase">
                    BY CHECKING THE BOX ASSOCIATED WITH THIS AGREEMENT, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTOOD THE FOREGOING TERMS AND CONDITIONS AND AGREE TO BE BOUND BY THEM.</p>

                <button class="btn btn-blue mt-8 modal-close">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Claim Modal -->


</MainLayout>





<style lang="scss">

    .contact-list {
        list-style: none;

        .contact-item {
            display: flex;
            margin-bottom: 1.5rem;
        }

        .contact-link {
            margin-right: 2rem;
            display: flex;
            width: 3rem;
            height: 3rem;
            border: 2px solid var(--clr-gray-light);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            transition: .3s;
            overflow: hidden;

            &:hover {
                color: var(--clr-white);
            }

            &:hover::after {
                transform: scale(1);
                transform-origin: center;
                opacity: 1;
            }

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: var(--clr-gray);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transform: scale(0);
                transform-origin: center;
                transition: .3s ease-in-out;
                opacity: 0;
            }
        }
    }


// ================ Styling for Pop-Up Modal =================
#claims-modal {
    position: relative;
    display: none;

    .modal-overlay {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.342);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100 !important; 

        // display: none;
    }

    // modal-container 
    .modal-container {
        width: 90%;
        max-width: 600px;
        height: 90%;
        overflow-y: scroll;
        margin-inline: auto;
        background-color: #fff;
        border-radius: 1rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;

        // display: none;
    }
    .header {
        padding: 2rem 1rem 1rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        button {
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;
            background-color: transparent;
            border-radius: 3px;
            cursor: pointer;
            transition: .2s;
            border: 2px solid rgb(228, 228, 228);

            &:hover, &:focus {
                background-color: rgb(228, 228, 228);
            }
        }
    }

    .body {
        padding: 1rem;
        padding-bottom: 2rem;
    }
}
// End of styling for pop-up Modal
</style>