---
import MainLayout from "../layouts/MainLayout.astro";
import ProductHero from "../components/ProductHero.astro";


// images
import { Image } from 'astro:assets'
import Engineer from '../assets/engineer-insurance.png'
---




<MainLayout title="iRisk | Engineer Insurance">
    <!-- Product Hero -->
    <ProductHero>
        <h2 class="heading-secondary">Engineer Insurance</h2>
    
           
             <!-- Bread crumbs -->
            <nav class="flex w-full justify-center mt-16" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    <li class="inline-flex items-center">
                        <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                        </svg>
                        Home
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <a href="/general-insurance" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">General Insurance</a>
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-600 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Engineer Insurance</span>
                        </div>
                    </li>
                </ol>
            </nav>
            <!-- End of Bread crumbs -->
    </ProductHero>


    <section class="py-20">
        <div class="container wrapper">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
                <div>
                    <h2 class="heading-tertiary mb-4">Engineer Insurance</h2>
                    <p class="mb-8">Engineering insurance is a type of insurance policy wherein a wide range of risks related to engineering are covered. It is a comprehensive insurance policy that offers economic safeguard against risks faced by ongoing construction projects, installation projects, and machines and equipment in project operation.</p>
                    <p>Since this industry is about creating and designing, construction and building, there are increased chances of related accidents and perils. Thus, Engineering Insurance policy caters to different forms of uncertainties that are associated with on-site construction including plant and machinery usage.</p>
                </div>
                <div>
                    <Image src={Engineer} alt="Motor Insurance" />
                </div>
            </div>
        </div>
    </section>






    
    <!-- Section Tabs & information -->
    <section class="section-tabs py-40 bg-slate-100">
        <div class="container wrapper">

            <!-- Tabs -->
            <div class="product-tabs border-b border-gray-200 dark:border-gray-700 bg-white lg:pl-56">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-styled-tab" data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Contractor's All Risk (CAR)</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Erection All Risk (EAR)</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-styled-tab" data-tabs-target="#styled-settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Contractor’s Plant and Machinery (CPM)</button>
                    </li>
                </ul>
            </div>






            <!-- Various Pages -->
            <div id="default-styled-tab-content">

                <!-- =========== Section-1 Contractor's All Risk (CAR) =========== -->
                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-profile" role="tabpanel" aria-labelledby="profile-tab">
                    <!-- Private Car Section -->
                    <div class="relative" data-spy="scroll" data-target="#sidebar">
                        <div class="container">
                            <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">

                                <!-- The Sticky Side Navbar -->
                                <div id="sidenav" class="hidden lg:block">
                                    <ul class="sticky-nav bg-slate-200  w-full">
                                        <li><a href="#section1-about">About</a></li>
                                        <li><a href="#section1-benefits">Benefits</a></li>
                                        <li><a href="#section1-coverage">Coverage</a></li>
                                        <li><a href="#section1-covers">Add On Covers</a></li>
                                        <li><a href="#section1-exclusions">Exclusions</a></li>
                                    </ul>
                                </div>

                                <!-- The sections -->
                                <div class="col-span-4">

                                    <!-- #About -->
                                    <div id="section1-about" class="pb-12">
                                        <h2 class="heading-tertiary mb-1">Contractor's All Risk (CAR)</h2>
                                        <p>The Contractor’s All Risk policy offers comprehensive cover by covering risks which may arise during construction period. It offers covers for public liability, own plant, contract works, hired-in plant and employee’s tools and gives financial protection to the civil engineering contracts in the event of any accident</p>
                                    </div>

                                    <hr>

                                    <!-- Features and Benefits -->
                                    <div id="section1-benefits" class="py-12">
                                        <h2 class="heading-tertiary mb-1">Benefits</h2>
                                        <p class="mb-4">The key benefits of this policy are as follows</p>
                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Material Damage:
                                                <br>
                                                Under this loss, damage, or destruction of property incurred due to any cause other than those excluded in policy are covered. Most of the policies pay for the losses or damage up to a certain amount that does not exceed the sum mentioned against every item and does not exceed the total sum insured</li>
                                            <li>Third-Party Liability coverages:
                                                <ul>
                                                    <li>Legal liability related to accidental damage or loss caused to the property of third-person</li>
                                                    <li>Legal liability for non-fatal and fatal injuries caused to third-person (other than the own employees or workers of the insured) due to the construction of the property</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <hr>

                                    <!-- Coverage -->
                                    <div id="section1-coverage" class="py-12">
                                        <h2 class="heading-tertiary">Coverage</h2>
                                        <p class="mb-4">Perils that are covered under contractors all-risk policy are</p>
                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Fire and allied perils</li>
                                            <li>Collapse</li>
                                            <li>Earthquake, shock, and fire</li>
                                            <li>Faults in construction</li>
                                            <li>Storm, flood, cyclone, and tempest.</li>
                                            <li>Negligence and human errors</li>
                                            <li>Water damage</li>
                                        </ul>
                                    </div>
                                    <!-- end of coverage -->
                                    
                                    <hr>

                                    <!-- Add-On Covers -->
                                    <div id="section1-covers" class="py-12">
                                        <h2 class="heading-tertiary">Add-On Covers</h2>
                                        <p class="mb-4">Cover can be extended up to a limit chosen by the insured on the following, on payment of additional premium:</p>
                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Express freight, Holiday and Overtime</li>
                                            <li>Airfreight</li>
                                            <li>Additional customs duty</li>
                                            <li>Cost of Clearance & Removal of debris</li>
                                            <li>Earthquake</li>
                                            <li>Escalation</li>
                                            <li>Storage at Fabricator’s Premises/ Workshop</li>
                                            <li>Construction equipment like scaffolding, shuttering materials</li>
                                            <li>Contractor’s plant & machinery</li>
                                            <li>Cross liability</li>
                                            <li>Third-party liability</li>
                                            <li>Maintenance visits cover and Extended Maintenance cover to cover accidental loss or damage whilst carrying out any rectification during the maintenance period and/or any amount incurred for rectification of such original defects or faults during construction</li>
                                            <li>Owners surrounding property or damage to surrounding property not forming part of the contract work.</li>
                                            <li>Terrorism.</li>
                                        </ul>
                                    </div>

                                    <hr>

                                    <!-- #Exlusions -->
                                    <div class="py-12" id="section1-exclusions">
                                        <h2 class="heading-tertiary">Exclusions</h2>
                                        <p class="mb-2">The following perils are not covered:</p>

                                        <ul class="list-disc leading-loose ml-12">
                                            <li>War and nuclear perils</li>
                                            <li>Normal wear and tear, gradual deterioration etc.</li>
                                            <li>Damage due to faulty design, defective materials, bad workmanship, etc.</li>
                                            <li>Consequential loss like loss of revenue, penalty for delay etc.</li>
                                            <li>Inventory losses</li>
                                            <li>Wilful negligence</li>
                                            <li>loss of or damage to vehicles licensed for general road use or waterborne vessel</li>
                                            <li>loss of or damage to files, drawings, accounts, bills, currency, stamps, deeds, evidence of debt, notes, securities cheques, packing materials such as cases, boxes, crates</li>

                                        </ul>
                                    </div>
                                    <!-- End of exclusions -->

                                    <hr>

                                    <!-- Claim Process -->
                                    <div class="py-12" id="section1-claims">
                                        <h2 class="heading-tertiary">Claims Process</h2>
                                        <p class="mb-2">Cargo insurance is a marine insurance policy that provides coverage for physical damage to cargo during transit. Depending on the chosen coverage, some policies offer theft protection or coverage for other forms of losses besides physical damage.</p>

                                        <ul class="list-disc leading-loose ml-12">
                                            <li>A surveyor will assess the damage or loss mentioned</li>
                                            <li>All the proofs and witnesses need to be submitted along with the duly filled in claim form</li>
                                            <li>If the provider finds the case fit, it would approve the claim, else it would reject it</li>
                                            <li>In case you are not satisfied with the case, you can approach the court of law</li>
                                        </ul>

                                        <p class="mb-2">Following documents are required to make a claim:</p>

                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Policy Document</li>
                                            <li>Claim Bill</li>
                                            <li>Commercial Invoice</li>
                                            
                                            <li>Monetary Claim on Transporter</li>
                                            <li>Letter of Subrogation</li>
                                            
                                            <li>Damage Certificate</li>
                                        </ul>
                                    </div>

                                    <p class="mb-2">Keep the damaged property under the safe custody until advised by the surveyor / insurer regarding its disposal.</p>
                                    <!-- End of Claim Process -->
                                
                                </div>  

                            </div>
                        </div>
                    </div>
                    <!-- End of Private Cars -->
                </div>


                <!-- =========== Erection All Risk (EAR) ========== -->
                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    <!-- Two Wheeler Car Insurance -->
                    <div class="relative" data-spy="scroll" data-target="#sidebar">
                        <div class="container">
                            <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">

                                <!-- The Sticky Side Navbar -->
                                <div id="sidenav" class="hidden lg:block">
                                    <ul class="sticky-nav bg-slate-200  w-full">
                                        <li><a href="#section2-about">About</a></li>
                                        <li><a href="#section2-scope">Scope</a></li>
                                        <li><a href="#section2-coverage">Coverage</a></li>
                                        <li><a href="#section2-add-on">Add-On Covers</a></li>
                                        <li><a href="#section2-exclusions">Exclusions</a></li>
                                    </ul>
                                </div>

                                <!-- The sections -->
                                <div class="col-span-4">

                                    <!-- #About -->
                                    <div id="section2-about" class="pb-12">
                                        <h2 class="heading-tertiary mb-1">Erection All Risk (EAR)</h2>
                                        <p>The erection all risk insurance covers loss or damage to projects that involves erection/installation of plant, machinery and equipment ranging from erection of a single machine to a large power plant. It protects a contractor or employer against physical loss or damage to the contract works, construction plant and equipment or machinery. It also includes cover for damage to property of third parties and bodily injury to third parties</p>
                                    </div>

                                    <hr>

                                    <!-- scope -->
                                    <div class="pb-12" id="section2-scope">
                                        <h2 class="heading-tertiary mb-1">Scope</h2>
                                        <p class="mb-4">It offers a comprehensive cover against all the risk involved in the</p>
                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Storage</li>
                                            <li>Erection</li>
                                            <li>Testing and Commissioning</li>
                                        </ul>

                                        <p>of machinery  & plant pertaining to various Industries.</p>

                                    </div>                                    
                                    
                                    <hr>

                                    <!-- #Coverage -->
                                    <div id="section2-coverage" class="py-12">
                                        <h2 class="heading-tertiary">Coverage</h2>
                                        <p class="mb-4">EAR cover begins from the time of unloading of the first consignment at the project site and terminates on completion of testing or handing over of the project to the principal employer, or the period chosen, whichever is earlier.</p>

                                        <p class="mb-4">The following are the eventualities against which you are covered:</p>
                                        
                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Fire, lightning, explosion, aircraft damage.</li>
                                            <li>Riot, strike, malicious act</li>
                                            <li>Flood, inundation, storm, cyclone and allied perils</li>
                                            <li>Landslide, subsidence and rockslide</li>
                                            <li>Burglary and theft</li>
                                            <li>Faults in erection</li>
                                            <li>Human errors, negligence, lack of skill</li>
                                            <li>Short circuiting, arcing, excess voltage</li>
                                            <li>Short circuiting, arcing, excess voltage</li>
                                            <li>Collapse, damage due to foreign objects, impact damages</li>
                                        </ul>
                                    </div>
                                    <!-- Coverage -->
                                    
                                    <hr>

                                    <!-- Add-On Covers -->
                                    <div class="py-12" id="section2-add-on">
                                        <h2 class="heading-tertiary">Add-On Covers</h2>
                                        <p class="mb-2">Cover can be extended by the insured to the following, on payment of additional premium:</p>

                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Third party liability</li>
                                            <li>Cross liability</li>
                                            <li>Cost of removal of debris,</li>
                                            <li>Express freight,overtime charges,</li>
                                            <li>Air freight,</li>
                                            <li>Custom duty</li>
                                            <li>Escalation</li>
                                            <li>Owner’s surrounding property</li>
                                            <li>Storage risk at Fabricator’s Premises</li>
                                        </ul>

                                        <p class="mb-2">Following documents are required to make a claim:</p>

                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Policy Document</li>
                                            <li>Claim Bill</li>
                                            <li>Commercial Invoice</li>
                                            
                                            <li>Monetary Claim on Transporter</li>
                                            <li>Letter of Subrogation</li>
                                            
                                            <li>Damage Certificate</li>
                                        </ul>

                                        <p class="mb-2">Keep the damaged property under the safe custody until advised by the surveyor / insurer regarding its disposal.</p>
                                    </div>
                                    <!-- End of Claim Process -->

                                    <hr>

                                    <!-- #Exlusions -->
                                    <div class="py-12" id="section2-exclusions">
                                        <h2 class="heading-tertiary">Exclusions</h2>
                                        <p class="mb-4">The following eventualities are not covered:</p>
                                        <ul class="list-disc leading-loose ml-12">
                                            <li>War Invasion Riot Strike Civil Commotion etc</li>
                                            <li>Nuclear Reaction Nuclear Radiation or Radioactive  Contamination</li>
                                            <li>Insured’s Contribution – Deductible</li>
                                            <li>Wilful Act or Wilful Negligence of the Insured</li>
                                            <li>Cessation of Work</li>
                                            <li>Defective Material or Bad workmanship</li>
                                            <li>Wear Tear Corrosion Oxidation Deterioration</li>
                                            <li>Normal Maintenance or Making Good</li>
                                            <li>Disappearance or Shortage (Inventory Losses)</li>
                                            <li>Design Defects</li>
                                            <li>Loss of files, drawings, cash, cheques, etc.</li>
                                            <li>Consequential Loss</li>
                                        </ul>
                                    </div>
                                    <!-- End of exclusions -->
                                
                                </div>  

                            </div>
                        </div>
                    </div>
                    <!-- End of Two Wheelter Insurance -->
                </div>


                
                <!-- =========== Contractors Plant and Machinery (CPM) ======== -->
                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-settings" role="tabpanel" aria-labelledby="settings-tab">
                    <div class="relative" data-spy="scroll" data-target="#sidebar">
                        <div class="container">
                            <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">

                                <!-- The Sticky Side Navbar -->
                                <div id="sidenav" class="hidden lg:block">
                                    <ul class="sticky-nav bg-slate-200  w-full">
                                        <li><a href="#section3-about">About</a></li>
                                        <li><a href="#section3-scope">Scope</a></li>
                                        <li><a href="#section3-benefits">Benefits</a></li>
                                        <li><a href="#section3-coverage">Coverage</a></li>
                                        <li><a href="#section3-exclusions">Exclusions</a></li>
                                    </ul>
                                </div>

                                <!-- The sections -->
                                <div class="col-span-4">

                                    <!-- #About -->
                                    <div id="section3-about" class="pb-12">
                                        <h2 class="heading-tertiary mb-1">Contractor’s Plant and Machinery (CPM)</h2>
                                        <p>The policy broadly covers loss or damage to the contractor’s following mobile equipment against an accident arising out of external perils</p>
                                    </div>

                                    <hr>

                                    <!-- Coverage -->
                                    <div id="section3-scope" class="py-12">
                                        <h2 class="heading-tertiary mb-1">Scope</h2>
                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Road Rollers</li>
                                            <li>Concrete mixer, concrete pumps</li>
                                            <li>Pavers for asphalt or concrete finishing.</li>
                                            <li>Cranes, Lifting equipment and drilling equipment Road surfacing equipment.</li>
                                            <li>Vibrators</li>
                                            <li>Chain blocks, pulley blocks</li>
                                            <li>Site power-generating plant</li>
                                            <li>Mobile mixing plant</li>
                                            <li>Hauling equipment</li>
                                            <li>Excavators and loaders</li>
                                            <li>Earthmoving equipment: Bulldozer, grader, scraper, excavator, loader, dumper, etc</li>
                                            <li>Batching plant for the production of concrete of asphalt</li>
                                            <li>Bitumen tank sprayers</li>
                                        </ul>
                                    </div>


                                    <hr>

                                    <!-- Benefits -->
                                    <div class="py-12" id="section3-benefits">
                                        <h2 class="heading-tertiary">Benefits</h2>
                                        <p class="mb-4">At any plant site, the contractor is completely dependent on the machinery and plant work. Physical loss or damage to these equipment can lead to heavy loss as they require huge investments. This insurance can keep the contractor relaxed because his/her machinery and plants are protected against any damage or loss. Some key benefits are as follows:</p>

                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Coverage against damage and loss to insured plants and machinery or equipment of construction due to an accident that arises because of external perils such as accidental damage, fire, burglary, riot, etc</li>
                                            <li>Most CPM policies cover the replacement of the machinery based on its current replacement price</li>
                                            <li>It provides the contractor the freedom to select the plant and machinery & equipment of his/her site of work</li>
                                        </ul>
                                    </div>
                                    <!-- End of Benefits -->

                                    <hr>

                                    <!-- Coverage -->
                                    <div class="py-12" id="section3-coverage">
                                        <h2 class="heading-tertiary">Coverage</h2>
                                        <p class="mb-4">The following eventualities are covered</p>

                                        <ul class="list-disc leading-loose ml-12">
                                            <li>Fire and Lightning.</li>
                                            <li>Accidental damage like defective workmanship and material, lack of skill, Negligence, Malicious act or Human error.</li>
                                            <li>Water damage, Flood, Storm, Tempest, Inundation. </li>
                                            <li>Collapse, Collision, Impact.</li>
                                            <li>Theft & Burglary</li>
                                            <li>Subsidence, landslide, Rockslide.</li>
                                        </ul>
                                    </div>
                                    <!-- End of Coverage -->

                                    <hr>

                                    <!-- Exclusions -->
                                    <div class="py-12" id="section3-exclusions">
                                        <h2 class="heading-tertiary">Exclusions</h2>
                                        <p class="mb-4">Loss or damage due to the following eventualities are not covered:</p>

                                        <ul class="list-disc leading-loose ml-12">
                                            <li>War or Warlike operations, Civil Commotion etc.</li>
                                            <li>Wilful act or Negligence of the Insured or of his representative</li>
                                            <li>Nuclear reaction, Nuclear radiation or Radioactive contamination</li>
                                            <li>Loss discovered only at the time of taking an inventory</li>
                                            <li>Normal wear and tear, Gradual deterioration due to atmospheric conditions or lack</li>
                                            <li>Faulty design</li>
                                        </ul>
                                    </div>
                                    <!-- End of Exclusions -->
                                
                                </div>  

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of the third section -->
            </div>

        </div>
    </section>




</MainLayout>













<style lang="scss">


    :target::before { 
        content: ''; 
        display: block; 
        height: 10rem; 
        margin: -50px 0 0 0; 
    }
    
    
    
    // ================ Product Tabs =================
    .product-tabs {
        position: sticky;
        top: 9rem;
        z-index: 10;
        border-radius: 3px 3px 0 0;
    }
    
    
    
    
    
    
    /* Sticky Side Navigation */ 
    #sidenav {
        width: 100%;
        
    
        ul {
            border: 1px solid lightgray;
            position: sticky;
            position: -webkit-sticky; /* Safari */
            top: 13rem;
        }
    
        li {
            width: 100%;
            display: inline-block;
    
            &:not(:last-child) {
                border-bottom: 1px solid lightgray;
            }
    
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: .5rem 0;
                padding-left: 1rem;
                transition: .3s;
    
                &:hover,
                &:focus {
                    background-color: rgb(199, 199, 199);
    
                }
            }
        }
    }
    
    
    </style>