---

---





<!-- <div class="counter-widget">
    <div class="counter" id="clients">
        <i class="fa-solid fa-people-roof"></i>
        <span class="number" id="client-number">0</span>
        <span class="label">Customers we have served</span>
        
    </div>
    <div class="counter" id="satisfaction">
        <i class="fa-solid fa-thumbs-up"></i>
        <span class="number" id="satisfaction-number">0%</span>
        <span class="label">Of our clients recommend us</span>
        
    </div>
    <div class="counter" id="claimscounter">
        <i class="fa-solid fa-sack-dollar"></i>
        <span class="number" id="claims-number">0%</span>
        <span class="label">Facilitated Claims Over the Years</span>
        
    </div>
</div> -->


<!-- this is  -->
<!-- <script src="./../js/counter.js"></script> -->












<div class="section-counter">
    <div class="container wrapper">

        <div class="col-3">
            <!-- Customer -->
            <div class="counter-container">
                <i class="counter-icon fa-solid fa-people-roof"></i>
                <h1 class="counter customer-odometer" data-target="12000">0</h1>
                <span class="text-center block">Customers we have served</span>
              </div>

              <!-- Client -->
              <div class="counter-container">
                <i class="counter-icon fa-solid fa-thumbs-up"></i>
                <h1 class="counter client-odometer" data-target="5000">0</h1>
                <span class="text-center block">Of our clients recommend us</span>
              </div>

              <!-- Claim -->
              <div class="counter-container">
                <i class="counter-icon fa-solid fa-sack-dollar"></i>
                <h1 class="counter claim-odometer" data-target="7500">0</h1>
                <span class="text-center block">Facilitated Claims Over the Years</span>
            </div>
        </div>
    </div>
</div>






<style>

    .section-counter .col-3 {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .section-counter .counter-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
    margin: 30px 50px;
    text-align: center;
    }

    /* icon */
    .section-counter .counter-icon {
        font-size: 2rem;
        display: inline-block;
        width: 100%;
    }

    /* Counter */
    h1.counter {
        display: inline-block;
        font-size: 60px;
        font-weight: bold;
        margin-top: 10px;
        position: relative;
    }
    .counter::after {
        content: "+";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -16px;
        font-size: 20px;
    }

    @media (max-width: 580px) {
        .section-counter .col-3 {
            grid-template-columns: 1fr;
        }
    }

</style>