---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
---

<!-- nav-button and overlay -->
<div class="nav-overlay"></div>

<!-- Back to the top switch -->
<!-- <a href="#hero" class="to-top">
    <i class="fa-solid fa-chevron-up"></i>    
</a>  -->

<!-- =============== Navigation ================ -->

<!-- {# Navigation menu #} -->
<nav class="nav">
  <div class="container wrapper">
    <div class="nav-bar">
      <!-- {# navigation logo #} -->
      <a href="/">
        <Image
          src={Logo}
          alt="irisk"
          title="back to home page"
          id="navImage"
          class="logo"
          />
      </a>


      <div class=" flex">
            <!-- navigation Menu -->
            <ul class="nav-list">
                <!-- <li class="nav-item"><a href="/" class="nav-link">HOME</a></li-->
                <!-- About Us -->
                <li class="nav-item" data-dropdown>
                    <div class="dropdown" data-dropdown>
                        <button class="nav-link yellow-text" data-dropdown-button >
                            About
                            <!-- <i class="fa-solid fa-chevron-down pl-1.5 leading-loose text-xs"></i> -->
                        </button>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="/about">Our Journey</a>
                                </li>
                                <li>
                                    <a href="/team">Our Team</a>
                                </li>
                                <li>
                                    <a href="/blog">Our blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                
                <!-- Products -->
                <li class="nav-item" data-dropdown>
                    <div class="dropdown" data-dropdown>
                        <button class="nav-link yellow-text" data-dropdown-button >
                            Products
                            <!-- <i class="fa-solid fa-chevron-down pl-1.5 leading-loose text-xs"></i> -->
                        </button>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="/glossary">Insurance Dictionary</a>

                                </li>

                                <li>
                                    <a href="/life-insurance">Life Insurance</a>
                                </li>
                                
                                <li class="more relative">
                                    <span class="flex items-center">
                                        <a href="/general-insurance">General Insurance </a>
                                        <i class="fa-solid fa-chevron-right pl-2 text-xs pt-1.5"></i>
                                    </span>
                                    <ul class="more-sub-menu sub-menu pt-8">
                                        <li><a href="/motor-insurance">Motor Insurance</a></li>
                                        <li><a href="/marine-insurance">Marine Insurance</a></li>
                                        <li><a href="/engineer-insurance">Engineering Insurance</a></li>
                                        <li><a href="/liability-insurance">Liability Insurance</a></li>
                                        <li><a href="/bond-insurance">Bond/Financial Guarantee </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- End of Products -->
        
                <!-- Services -->
                <li class="nav-item" data-dropdown>
                    <div class="dropdown" data-dropdown>
                        <button class="nav-link yellow-text" data-dropdown-button >
                            Our  Services
                            <!-- <i class="fa-solid fa-chevron-down pl-1.5 leading-loose text-xs"></i> -->
                        </button>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="/claims-consultancy">Claims Consultancy</a>
                                </li>
                                <li>
                                    <a href="/portfolio-management">Portfolio Management</a>
                                </li>
                                <li>
                                    <a href="/risk-analysis">Risk Management</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
        
                <!-- iRisk Re-insurance -->
                <li class="nav-item"><a href="/reinsurance" class="nav-link">iRisk Reinsurance</a></li> 
                
                <!-- Contact -->
                <li class="nav-item"><a href="/contact" class="nav-link">CONTACT US</a></li>
            </ul>
        
            <!-- {# Navigation Button & make a claim button#} -->
            <div class="flex items-center">
                <a href="/claim" class="btn-sm btn-red">Make a claim</a>
                <!-- nav button -->
                <div class="nav-btn hover:bg-slate-100">
                    <div class="lines"></div>
                    <div class="lines"></div>
                    <div class="lines"></div>
                </div>
            </div>
            <!-- end of nav button and make a claim button -->
        </div>

    </div>
  </div>
</nav>















<!-- ====================================================================
                            Styling
=========================================================================-->
  <style lang="scss">
    // logo
    .logo {
      width: 80px;
      transition: 0.5s ease-in-out;
      margin-right: 4px;
    } //End of Logo

    .logo:hover {
        transform: scale(1.2); /* decrease size on hover  */
        transition: 0.5s ease-in-out;
    }

    // nav button
    .nav-btn {
      cursor: pointer;
      transition: 0.4s;
      opacity: 1;
      width: 3rem;
      height: 3rem;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;

      .lines {
        width: 2rem;
        height: 0.2rem;
        background-color: var(--clr-gray);
        border-radius: 2px;


        &:not(:last-child) {
          margin-bottom: 0.3rem;
        }
      }

      &.close {
        transform: rotate(180deg);

        .lines {
          &:nth-child(1) {
            transform: translate(1px, 8px) rotate(-45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(0px, -8px) rotate(45deg);
          }
        }
      }
    } // End of Menu button

    // ========== Navigation Overlay ===========
    .nav-overlay {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 50;
      background-color: rgba(60, 60, 60, 0.537);
      transition: 0.2s;
      opacity: 0;
      pointer-events: none;

      &.show {
        opacity: 1;
        pointer-events: initial;
      }
    }
    .nav {
      position: fixed;
    //   top: 3rem;
      left: 0;
      z-index: 51;
      width: 100%;
      height: auto;
      background-color: var(--clr-white);
     
      //box-shadow: 0px 2px 2px rgba(0, 8, 41, 0.1);
      transition: .4s;
    
      font-family: 'Roboto', sans-serif;

      &.hide {
        transform: translateY(-100%);
      }
    }
    .nav-container {
      // --container-width: 91.875rem;
      --gutter: 12.5rem;
      width: min(100% - var(--gutter) * 2, var(--container-width, none));
      margin-left: auto;
      margin-right: auto;
    //   background-color: red;
      width: 100%;
     
    }




    // =========== Nav Bar =============
    .nav-bar {
        // background-color: var(--clr-white);
        // border-radius: 5rem;
        // box-shadow: 0px 2px 2px rgba(0, 8, 41, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        // padding-inline: 2rem;
        width: 100%;
        


        
    }










//////////////////////////////////////////////////
//               Media Querries
//////////////////////////////////////////////////
@media screen and (max-width: 1019px) {

    .nav-bar {
        height: 80px;


        .nav-list {
            position: fixed;
            top: 0;
            left: 0;
            width: 80vw;
            max-width: 600px;
            height: 100vh;
            background-color: rgba(255, 255, 255, 1);
            z-index: -1;
            padding-top: 150px;
            padding-inline: 3rem;
            overflow-y: scroll;
            transition: transform .4s ease-in-out;
            transform: translate3d(-100%, 0, 0);

            &.show {
                transform: translate3d(00%, 0, 0);
            }
        }

        .nav-item {
            list-style: none;
            &:not(:last-child) {
                margin-bottom: .5rem;
                
            }
        }
        .nav-link {
            display: inline-block;
            padding: 1rem;
            text-transform: uppercase;
            font-size: 1rem;
            outline: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-family: inherit;
            box-sizing: inherit;
            // margin: 0;
            font-weight: bold;
            transition: .3s ease-in-out;

            &:hover {
                transform: scale(1.1) translatex(15px);
                color: var(--clr-blue-light);
            }
        }
      
        // =============== Drop down ===========
        .dropdown {
            position: relative;
            
            &.active > .dropdown-menu {
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
                display: block;
            }

            &-menu {
                display: none;
                width: 100%;
                transform: translateY(-5px);
                padding: 1rem 3rem;
                border-radius: 1rem;
                transition: .4s ease-in-out;
                pointer-events: none;
                
                ul li {
                    list-style: none;

                    &:not(:last-child) {
                        margin-bottom: .5rem;
                    }

                    a {
                        display: inline-block;
                        transition: .3s;
                        color: var(--clr-blue-dark);
                        font-weight: bold;

                        &:hover, 
                        &:focus {
                            transform: translateX(5px);
                            color: var(--clr-blue-light);
                        }
                    }

                }

                .more:hover .more-sub-menu {
                    display: block;;
                }

                .more-sub-menu {
                    padding-left: 2rem;
                    padding-top: 1rem;
                    display: none;
                }

            }
        }
    }

    .logo {
        width: 80px; 
    }

}

// Tablets
@media screen and (max-width: 768px) {
    .nav-bar {

        .dropdown {

            &-menu {
                
                h2 {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

// SmartPhones
@media screen and (max-width: 500px) {
    .logo {
    width: 60px;
    }
}





    // Desktop Navigation done
    @media screen and (min-width: 1020px) {
        .nav-bar {
            padding-block: 1rem;
            //padding-inline: 2rem;
            position: relative;

            .nav-btn {
                display: none;
            }
            .nav-overlay {
                display: none;
            }

            // Nav-menu
            .nav-list {
                list-style: none;
                display: flex;
                height: 100%;
                align-items: center;

                li a {
                    white-space: nowrap;
                }

                // ============  menu ===========
                & .sub-menu{
                    position: absolute;
                    top: 60px;
                    left: 0;
                    line-height: 40px;
                    // background: var(--clr-white);
                    background-color: rgba(23,20,4,0.462745098);
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                    border-radius: 0 0 4px 4px;
                    display: none;
                    z-index: 2;
                    padding-top: 2rem;
                    display: none;


                    // Sub sub menu
                    .more-sub-menu{
                        position: absolute;
                        top: 0;
                        left: 100%;
                        border-radius: 0 4px 4px 4px;
                        z-index: 1;
                        display: none;
                        padding-top: 0rem;
                    }
                    .more:hover .more-sub-menu{
                        display: block;
                    }
                }
                li:hover .products-sub-menu,
                li:hover .services-sub-menu{
                    display: block;
                }
                
                .nav-item .sub-menu li{
                    padding: 0 22px;
                    border-bottom: 1px solid rgba(5, 0, 47, 0.1);

                    &:hover {
                        backdrop-filter: blur(70px);
                    }
                }


                .nav-item {
                    position: relative;

                    .dropdown li{
                        padding: 0 22px;
                        border-bottom: 1px solid rgba(5, 0, 47, 0.1);
                        background-color: rgba(255, 255, 255, 0.763);
                        color: #000;

                        &:hover {
                            color: #edce22;
                            backdrop-filter: blur(70px);
                        }
                    }

                }
                
                // Navigation Main Link
                .nav-link {
                    display: flex;
                    padding: 0.9rem 0.7rem;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    outline: none;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    font-family: inherit;
                    box-sizing: inherit;
                    margin-left: 0.5em;
                    line-height: 2;
                    font-family: inherit;
                    font-weight: bold;
                    transition: 0.3s ease-in-out;
                    white-space: nowrap;
                    color: #042D44;
                    

                    .fa {
                        line-height: 1;
                        
                    }

                    &:hover svg {
                    transform: translateY(4px);
                    }

                    &:hover {
                    transform: scale(1.03) translateY(2px);
                    color: #f7df40;
                    }
                }



                li[data-dropdown]:hover .dropdown-menu {
                    display: block;
                    opacity: 1;
                    pointer-events: auto;
                }

                // =============== Drop down ===========
                .dropdown {
                    // position: relative;
                    // width: 100%;

                    &.active > .dropdown-menu {
                    opacity: 1;
                    // transform: translateY(0);
                    pointer-events: auto;
                    }

                    &-menu {
                        position: absolute;
                        color: #c0d9e8;
                        left: 0;
                        opacity: 0;
                        transition: 0.2s ease-in-out;
                        pointer-events: none;
                        top: 60px;
                        line-height: 40px;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                        border-radius: 0 0 4px 4px;
                        // display: none;
                        z-index: 2;
                        // padding-top: 2rem;

                        .more-sub-menu{
                            position: absolute;
                            top: 0;
                            left: 100%;
                            border-radius: 0 4px 4px 4px;
                            z-index: 1;
                            display: none;
                            padding-top: 0rem;
                        }
                        .more:hover .more-sub-menu{
                            display: block;
                            background-color: rgba(4, 8, 23, 0.763);
                            color: #e2e9ee;
                        }
                    
                    }

                }


            }

        }
    }












    // Remove shadows when dropdown
    .no-shadow {
      box-shadow: none;
    }


    @keyframes changeColor {
    0% {
      background-color: rgb(37, 233, 217);
    }
    25% {
      background-color: rgb(210, 227, 239);
    }
    50% {
      background-color: rgb(244, 242, 207);
    }
    75% {
      background-color: rgb(247, 184, 184);
    }
    100% {
      background-color: rgb(172, 164, 239); /* Back to the initial color */
    }
  }
  </style>
