
<!-- General Insurance Hero Banner -->
<section class="product-hero text-center py-20 pt-60">
    <div class="container wrapper">
        <slot />
    </div>
</section>
<!-- End of General Insurance Hero Banner -->





<style>
    .product-hero {
        width: 100%;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255, .8), rgb(51, 162, 209, .8)), url(/assets/product-bg.png);
    }
</style>