---

---





<div class="product-tabs border-b border-gray-200 dark:border-gray-700 bg-white lg:pl-56">
    <slot />
</div>





<style lang="scss">
     // ================ Product Tabs =================
    .product-tabs {
        position: sticky;
        top: 5.6rem;
        z-index: 10;
        border-radius: 3px 3px 0 0;
    }
    
    
    
</style>
