::selection {
    background-color: #32A2D1;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}


body {
    --clr-blue-light: #32A2D1;
    --clr-blue-dark: #042D44;
    --clr-red: #FC486B;
    --clr-gray: #686666;
    --clr-gray-dark: #222222;
    --clr-gray-light: #D9D9D9;
    --clr-white: #fff;
    --clr-black: #131313;

    background-color: var(--clr-white);
    position: relative;
    z-index: 1;
}

:target::before { 
    content: ''; 
    display: block; 
    height: 12rem; 
    margin: -50px 0 0 0; 
}


/* Remove Scrolling */
.remove-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 




/* ========== Container ============= */
.container {
    /* display: block; */
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 2800px;
    height: 100%;
    position: relative;
}
.blog-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
}
 /* wrapper */
.wrapper {
    padding-right: 20px;
    padding-left: 20px;
}
section {
    background-color: var(--clr-white);
}



/* ==================== CSS Buttons =================== */
.btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    position: relative;
    z-index: 1;
    transition: .4s;
    border: 2px solid transparent;
    font-weight: bold;
}
.btn-sm {
    display: inline-block;
    padding: .5rem 1.3rem;
    border-radius: 3rem;
    position: relative;
    z-index: 1;
    transition: .4s;
    overflow: hidden;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: .8rem;
}



/* BTN BIG */
.btn-big {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bolder;
    position: relative;
    z-index: 1;
    transition: .4s;
}
.btn-big:hover,
.btn-big:focus {
    color: var(--clr-blue-light);
}
.btn-big::after {
    content: "";
    width: 80%;
    height: 3px;
    background-color: var(--clr-blue-light);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: .4s;
}
.btn-big:hover::after,
.btn-big:focus::after {
    transform: translateX(25%);
}



/* BTN Primary */
.btn-blue {
    background-color: var(--clr-blue-light);
    color: var(--clr-white);
    border: 2px solid var(--clr-blue-light);
}
.btn-blue:hover {
    background-color: #fff;
    color: var(--clr-black);
    /* border: 2px solid var(--clr-white); */
}


/* BTN White */
.btn-white {
    background-color: var(--clr-white);
    color: var(--clr-gray);
    border: 2px solid var(--clr-gray-light);

}
.btn-white:hover {
    background-color: transparent;
    color: var(--clr-white);
}

/* BTN Neutral */
.btn-neutral {
    border: 2px solid var(--clr-gray-light);
}
.btn-neutral:hover,
.btn-neutral:focus {
    background-color: var(--clr-gray-light);
    color: var(--clr-gray);
}



/* BTN red */
.btn-red {
    border: 2px solid var(--clr-white);
    background-color: var(--clr-red);
    color: var(--clr-white);
    /*animation: up-down 2s ease-in-out infinite alternate-reverse both;*/
}



/* ANIMATE MAKE A CLAIM BUTTON red */
@keyframes up-down {
    0% {
      transform: translateY(5px);
    }
  
    100% {
      transform: translateY(-5px);
    }
  }

.btn-red:hover {
    color: var(--clr-red);
    border: 2px solid var(--clr-red);
    background-color: var(--clr-white);
}



/* Btn Think */
.btn-thin {
    display: inline-flex;
    padding: 1rem;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: .4s;

}
.btn-thin:hover {
    color: var(--clr-white);
    transform: translateX(-4px);
}

.btn-thin:hover::after {
    width: 100%;
    border-radius: 5px;
}

.btn-thin::after {
    content: "";
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--clr-blue-light);
    z-index: -1;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: .4s;
}

.btn-thin i {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--clr-blue-light); */
    color: var(--clr-white);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}










/* ==================== Section general Styling =================== */
.section {
    min-height: calc(100vh - 14rem);
}








/* ============================== Text Styling ======================= */
.heading-secondary {
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1.2;
    font-family: "Avenir", sans-serif;
}

.heading-tertiary {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--clr-blue-light);
}

/* Blue text */
.blue-text {
    color: var(--clr-blue-light);
}

.candal-regular {
    font-family: "Candal", sans-serif;
    font-weight: 400;
    font-style: normal;
}  



/* ======================== Animations ============================== */
/* Images to animate in */
.scale-in {
  scale: .8; 
  opacity: 0;
  transform: translateX(-20px);
  animation: scale-in linear forwards;
  animation-timeline: view() !important;
  animation-range: 100px 300px !important;
}
@keyframes scale-in {
  to {
    scale: 1;
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }
}


/* Images to animate in */
.image-fade {
  scale: 1; 
  opacity: 0;
  transform: translateY(20px);
  animation: scale-in linear forwards;
  animation-timeline: view() !important;
  animation-range: 100px 300px !important;
}
@keyframes scale-in {
  to {
    scale: 1;
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }
}



/* Fade In From Bottom */
.fade-in {
    scale: 1; 
    opacity: 0;
    transform: translateY(40px);
    animation: scale-in linear forwards;
    animation-timeline: view() !important;
    animation-range: 100px 300px !important;
    
    
  }
  @keyframes scale-in {
    to {
      scale: 1;
      opacity: 1;
      transform: rotate(0deg) translateX(0px);
    }
  }




























/* =================================================================================== */
                        /* Preloader */
/* =================================================================================== */
     /* PRELOADER */
     #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        overflow: hidden;
        background: #37517e;
      }
      
      #preloader:before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #37517e;
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: animate-preloader 1s linear infinite;
      }
      
      @keyframes animate-preloader {
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
        }
      }
      










/* =================================================================================== */
                        /* Hero Text Animations */
/* =================================================================================== */






















/* =============================== */
      /* media queries */
/* =============================== */
@media (min-width: 768px) {
    .wrapper {
        padding-right: 100px;
        padding-left: 100px;
    }
    .btn-sm {
        padding: 1rem 2rem;
    }

}
@media (min-width: 1500px) {
    .wrapper {
        padding-right: 150px;
        padding-left: 150px;
    }

}
@media (min-width: 1500px) {
    
/* Remove Scrolling */
.remove-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 


}
















ul.slick-dots {
    /* background-color: green; */
    list-style: none;
    display: flex !important;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
}
ul.slick-dots  li {
    position: relative;
    z-index: 1;
    width: .7rem;
    height: .7rem;
    background-color: var(--clr-gray-light);
    border-radius: 50%;
}
ul.slick-dots  li:not(:last-child) {
    margin-right: .5rem;
}
ul.slick-dots  li.slick-active {
    transform: scale(1.4);
    background-color: var(--clr-blue-light);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
}
ul.slick-dots  li button {
    font-size: 0;
    color: transparent;
}








/* =================== Index Carousel ==================== */
.index-hero .slick-dots{
    bottom: 5rem;
}









/* =======================vService carousel ================= */
#service-carousel .slick-prev,
#service-carousel .slick-next {
    background-color: rgb(21 94 117 / 0.3);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: -0%;
    transform: translate(0, 0);
    font-size: 1.2rem;
    color: var(--clr-white);
    cursor: pointer;
    transition: .4s;
    border: 3px solid transparent;
}
#service-carousel .slick-prev:hover,
#service-carousel .slick-next:hover {
    background-color: rgb(34 211 238 / 0.5);
    border: 3px solid var(--clr-blue-light);
} 

#service-carousel .slick-next {
    left: 3.5rem;
}
#service-carousel .slick-prev {
    left: 0;
}


/* =======================dropdwn for bonds ================= */
.dropdown-symbol {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border: solid #47b2e4;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: transform 0.5s ease;
  }

  .dropdown-open {
    transform: rotate(-135deg);
  }

  .cool {
    font-size: 25px;
    line-height: 3;
  }

  .cool:hover {
    color: #0ba9f2;
    cursor: pointer;
  }


  /* Breathing ANimation for bond picture */
  .breathing-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; / Adjust as needed | has been adjusted */
    
  }
  
  .breathing-image {
    animation: breathe 2s infinite alternate; /* Adjust duration as needed */
    border-radius: 10px;
    transition: ease-in-out;
  }
  
  @keyframes breathe {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  